doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Texx
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
		link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.glogal-wrapper
			include modules/header.jade
			.assets-preload
				include ../img/assets.svg
			.overflow-wrapper
				.main-content.inner
					a(href="#").scroll-up.scroll-control
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					a(href="#").scroll-down.scroll-control
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					.navigation-bar
						.section-nav
							.top
								.side-title Партнерская сеть
								a.back-link(href="#")
									svg(viewBox="0 0 100 100", class="svgico arrow-icon")
										use(xlink:href="#arrow-left")
									span Назад
							.bottom
								.mobile-scroll
									ul.mobile-scroll-container
										li.mobile-scroll-elem
											a(href="/about.html") Компания «ТЭККС»
										li.mobile-scroll-elem
											a(href="/about_adv.html") Преимущества
										li.active.mobile-scroll-elem
											a(href="/about_partner.html") Партнерская сеть
										li.mobile-scroll-elem
											a(href="/about_recommend.html") Нас рекомендуют
										li.mobile-scroll-elem
											a(href="/about_license.html") Сертификаты, лицензии
										li.mobile-scroll-elem
											a(href="/about_contact.html") Напишите нам
						.page-nav
							a.back-link(href="#")
								svg(viewBox="0 0 100 100", class="svgico arrow-icon")
									use(xlink:href="#arrow-left")
								span Назад
					.scrolled
						.scrolled-content
							section
								h2 Партнерская сеть
								.partner-map
									include ../img/map_svg.svg
								.mobile-partner-form
									form
										input(type="hidden", name="area")
										.form-group
											select.custom_select
												option(value="") Красноярский край
												option(value="") Тульская область
												option(value="") Тюмень
												option(value="") Тульская область
												option(value="") Тюмень
												option(value="") Красноярский край
												option(value="") Тульская область
												option(value="") Тюмень
												option(value="") Тульская область
												option(value="") Тюмень
												option(value="") Красноярский край
												option(value="") Тульская область
												option(value="") Тюмень
												option(value="") Тульская область
												option(value="") Тюмень

										.form-group
											input(type="text", name="", placeholder="Отдел")
										.form-group
											input(type="text", name="", placeholder="Наименование организации")
										.form-group
											input.required(type="text", name="", placeholder="Контактное лицо *")
										.form-group
											input.required(type="text", name="", placeholder="Телефон *")
										.form-group
											input(type="text", name="", placeholder="Электронная почта")
										.form-group
											input.btn.default(type="submit", value="Отправить")
				.modal-container
					.modal-content
						a(href="#").close-modal
							img(src=" img/modal_close.svg", alt="")
						.row.col-container
							.col-lg-3.col-md-3.col-container
								.slide-sidebar
									h2 Обратная связь
									.require-text * — поля обязательные для заполнения
									a(href="#").btn.default Отправить
							.col-lg-9.col-md-9.col-container
								.slide-content.flex-column
									p.area
									form
										input(type="hidden", name="area")
										.form-group
											input(type="text", name="", placeholder="Отдел")
										.form-group
											input(type="text", name="", placeholder="Наименование организации")
										.form-group
											input.required(type="text", name="", placeholder="Контактное лицо *")
										.form-group
											input.required(type="text", name="", placeholder="Телефон *")
										.form-group
											input(type="text", name="", placeholder="Электронная почта")

				//- 		section
				//- 			.end-block
				//- 				h2 Начните свой проект с нами уже сегодня!
				//- .feedback
				//- 	.name Обратная связь
				//- 	a(href="").link.next-main-link
				//- 		svg(viewBox="0 0 100 100", class="svgico arrow-icon")
				//- 			use(xlink:href="#arrow-left")
				//- 	.helper-ui-text нажмите на кнопку




		

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://use.fontawesome.com/856283dff2.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
		script(src="js/hammer.js")
		script(src="js/jquery.hammer.js")
		script(src="js/bootstrap.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/iscroll.js")
		script(src="js/iscroll-probe.js")
		script(src="js/jquery.mCustomScrollbar.concat.min.js")
		script(src="js/app.js")