doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Texx
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
		link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.glogal-wrapper
			include modules/header.jade
			.assets-preload
				include ../img/assets.svg
			.overflow-wrapper
				.main-content.inner
					a(href="#").scroll-up.scroll-control
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					a(href="#").scroll-down.scroll-control
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					.navigation-bar
						.section-nav
							.top
								.side-title Нас рекомендуют
								a.back-link(href="#")
									svg(viewBox="0 0 100 100", class="svgico arrow-icon")
										use(xlink:href="#arrow-left")
									span Назад
							.bottom
								.mobile-scroll
									ul.mobile-scroll-container
										li.mobile-scroll-elem
											a(href="/about.html") Компания «ТЭККС»
										li.mobile-scroll-elem
											a(href="/about_adv.html") Преимущества
										li.mobile-scroll-elem
											a(href="/about_partner.html") Партнерская сеть
										li.active.mobile-scroll-elem
											a(href="/about_recommend.html") Нас рекомендуют
										li.mobile-scroll-elem
											a(href="/about_license.html") Сертификаты, лицензии
										li.mobile-scroll-elem
											a(href="/about_contact.html") Напишите нам
						.page-nav
							a.back-link(href="#")
								svg(viewBox="0 0 100 100", class="svgico arrow-icon")
									use(xlink:href="#arrow-left")
								span Назад
					.scrolled
						.scrolled-content
							section
								h2 Нас рекомендуют
								.logos-block
									.item
										img(src=" img/recom1.png", alt="")
									.item
										img(src=" img/recom2.png", alt="")
									.item
										img(src=" img/recom3.png", alt="")
									.item
										img(src=" img/recom2.png", alt="")
									.item
										img(src=" img/recom1.png", alt="")
									.item
										img(src=" img/recom3.png", alt="")
									.item
										img(src=" img/recom3.png", alt="")
									.item
										img(src=" img/recom2.png", alt="")
									.item
										img(src=" img/recom1.png", alt="")
							section
								.end-block
									h2 Начните свой проект с нами уже сегодня!
				.feedback
					.name Обратная связь
					a(href="#bottom_modal").link.modal-handler
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					.helper-ui-text нажмите на кнопку
				include modules/bottom_modal.jade




		

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://use.fontawesome.com/856283dff2.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
		script(src="js/hammer.js")
		script(src="js/jquery.hammer.js")
		script(src="js/bootstrap.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/iscroll.js")
		script(src="js/iscroll-probe.js")
		script(src="js/jquery.mCustomScrollbar.concat.min.js")
		script(src="js/app.js")