doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Texx
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
		link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.glogal-wrapper
			include modules/header.jade
			.assets-preload
				include ../img/assets.svg
			.overflow-wrapper
				.main-content.inner
					a(href="#").scroll-up.scroll-control
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					a(href="#").scroll-down.scroll-control
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					.navigation-bar
						.section-nav
							.side-title Вопрос–ответ
							ul
								li
									a(href="/about.html") Мониторинг
								li
									a(href="/about_adv.html") Оборудование
								li.active
									a(href="/about_partner.html") Общие вопросы
						.page-nav
							a.back-link(href="#")
								svg(viewBox="0 0 100 100", class="svgico arrow-icon")
									use(xlink:href="#arrow-left")
								span Назад
							ul
								li
									a(href="#mission") Мониторинг
								li
									a(href="#team") Оборудование
								li.active
									a(href="#exp") Общие вопросы
					.scrolled-content
						section
							h2 Общие вопросы
							ul(role="tablist").red-tabs
								li(role="presentation").active
									a(href="#common1" aria-controls="common1" role="tab" data-toggle="tab") Регламент обращений
								li(role="presentation")
									a(href="#common2" aria-controls="common2" role="tab" data-toggle="tab") Ремонт
								li(role="presentation")
									a(href="#common3" aria-controls="common3" role="tab" data-toggle="tab") Гарантия
							.tab-content.red-content
								.tab-pane.fade.in.active#common1
									.faq-row
										a(href="").faq-head
											p Как работает GPS-трекер?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
									.faq-row
										a(href="").faq-head
											p Где можно рассчитать стоимость?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
									.faq-row
										a(href="").faq-head
											p Можно ли оставить заявку у вас на сайте?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
									.faq-row
										a(href="").faq-head
											p Как работает GPS-трекер?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
								.tab-pane.fade#common2
									.faq-row
										a(href="").faq-head
											p Как работает GPS-трекер?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
									.faq-row
										a(href="").faq-head
											p Где можно рассчитать стоимость?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
									.faq-row
										a(href="").faq-head
											p Можно ли оставить заявку у вас на сайте?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
									.faq-row
										a(href="").faq-head
											p Как работает GPS-трекер?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
								.tab-pane.fade#common3
									.faq-row
										a(href="").faq-head
											p Как работает GPS-трекер?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
									.faq-row
										a(href="").faq-head
											p Где можно рассчитать стоимость?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
									.faq-row
										a(href="").faq-head
											p Можно ли оставить заявку у вас на сайте?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
									.faq-row
										a(href="").faq-head
											p Как работает GPS-трекер?
											.faq-circle
												span +
										.faq-body
											p Хотите знать, как работает GPS-трекер? Он определяет координаты человека на основе данных, получаемых со спутников. Эти данные передаются на сервер с помощью GPRS, который, в свою очередь, отправляет необходимый минимум на ПК. Благодаря этому достигается бесперебойность работы системы даже при нестабильном или медленном интернет-соединении и снижаются расходов на трафик. Все, что нужно для получения необходимой информации − компьютер и свободный доступ в интернет.
				//- 		section
				//- 			.end-block
				//- 				h2 Начните свой проект с нами уже сегодня!
				//- .feedback
				//- 	.name Обратная связь
				//- 	a(href="").link.next-main-link
				//- 		svg(viewBox="0 0 100 100", class="svgico arrow-icon")
				//- 			use(xlink:href="#arrow-left")
				//- 	.helper-ui-text нажмите на кнопку




		

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://use.fontawesome.com/856283dff2.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/jquery.mCustomScrollbar.concat.min.js")
		script(src="js/app.js")