doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Texx
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
		link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.glogal-wrapper
			include modules/header.jade
			.assets-preload
				include ../img/assets.svg
			.overflow-wrapper
				.main-content.inner
					.abs-top-control
						ul(role="tablist").tabs
							li(role="presentation").active
								a(href="#news" aria-controls="news" role="tab" data-toggle="tab") Новости
							li(role="presentation")
								a(href="#blog" aria-controls="blog" role="tab" data-toggle="tab") Блог
						a.back-link(href="#")
							svg(viewBox="0 0 100 100", class="svgico arrow-icon")
								use(xlink:href="#arrow-left")
							span Назад
					.tab-content
						.tab-pane.article-wrapper.fade.in.active#news
							a(href="#").scroll-up.scroll-control
								svg(viewBox="0 0 100 100", class="svgico arrow-icon")
									use(xlink:href="#arrow-left")
							a(href="#").scroll-down.scroll-control
								svg(viewBox="0 0 100 100", class="svgico arrow-icon")
									use(xlink:href="#arrow-left")
							.navigation-bar
								.fullhalf-block
									.time 04.07.2016
									a(href="").h2 Больше контроля качества за оборудованием
									p Компанией Omicomm на производстве запущен дополнительный этап контроля качества выпускаемой продукции, специально для этого отдел технического контроля разработал специализированный стенд длительной проверки, позволяющий в автоматическом режиме и под максимальными нагрузками проверить все типы датчиков уровня топлива Omnicomm LLS.
									a(href="").more Читать
							.scrolled-content
								section
									.filter-news
										.select-block
											span.label Категория:
											select.custom_select(name="")
												option(value="все") Все
												option(value="все") Новости компании
												option(value="все") Новостии индустрии
										.select-block
											span.label Сортировать по:
											select.custom_select(name="")
												option(value="все") Дате добавления
												option(value="все") Кличеству просмотров

									.small-block
										.fullhalf-block
											.time 04.07.2016
											a(href="").h2 Больше контроля качества за оборудованием
											p Компанией Omicomm на производстве запущен дополнительный этап контроля качества выпускаемой продукции, специально для этого отдел технического контроля разработал специализированный стенд длительной проверки, позволяющий в автоматическом режиме и под максимальными нагрузками проверить все типы датчиков уровня топлива Omnicomm LLS.
											a(href="").more Читать
										a(href="").new
											.time 04.07.2016
											h2 Идентификация водителей
										a(href="").new
											.time 04.07.2016
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
											h2 Встречайте новый мобильный интерфейс Wialon!
										a(href="").new
											.time 04.07.2016
											h2 Встречайте новый мобильный интерфейс Wialon!
										a(href="").new
											.time 04.07.2016
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
											h2 Встречайте новый мобильный интерфейс Wialon!
										a(href="").new
											.time 04.07.2016
											h2 Встречайте новый мобильный интерфейс Wialon!
										a(href="").new
											.time 04.07.2016
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
											h2 Идентификация водителей
										a(href="").new
											.time 04.07.2016
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
											h2 Встречайте новый мобильный интерфейс Wialon!
						.tab-pane.article-wrapper.fade#blog
							a(href="#").scroll-up.scroll-control
								svg(viewBox="0 0 100 100", class="svgico arrow-icon")
									use(xlink:href="#arrow-left")
							a(href="#").scroll-down.scroll-control
								svg(viewBox="0 0 100 100", class="svgico arrow-icon")
									use(xlink:href="#arrow-left")
							.navigation-bar
								.fullhalf-block
									.time 04.07.2016
										.views
											.fa.fa-eye(aria-hidden="true")
											span 217
									a(href="").h2 Больше контроля качества за оборудованием
									p Компанией Omicomm на производстве запущен дополнительный этап контроля качества выпускаемой продукции, специально для этого отдел технического контроля разработал специализированный стенд длительной проверки, позволяющий в автоматическом режиме и под максимальными нагрузками проверить все типы датчиков уровня топлива Omnicomm LLS.
									a(href="").more Читать
							.scrolled-content
								section
									.filter-news
										.select-block
											span.label Категория:
											select.custom_select(name="")
												option(value="все") Все
												option(value="все") Новости компании
												option(value="все") Новостии индустрии
										.select-block
											span.label Сортировать по:
											select.custom_select(name="")
												option(value="все") Дате добавления
												option(value="все") Кличеству просмотров
									.small-block
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Идентификация водителей
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Встречайте новый мобильный интерфейс Wialon!
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Встречайте новый мобильный интерфейс Wialon!
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Встречайте новый мобильный интерфейс Wialon!
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Встречайте новый мобильный интерфейс Wialon!
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Идентификация водителей
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Аналитические отчеты
										a(href="").new
											.time 04.07.2016
												.views
													.fa.fa-eye(aria-hidden="true")
													span 217
											h2 Встречайте новый мобильный интерфейс Wialon!


				//- 		section
				//- 			.end-block
				//- 				h2 Начните свой проект с нами уже сегодня!
				//- .feedback
				//- 	.name Обратная связь
				//- 	a(href="").link.next-main-link
				//- 		svg(viewBox="0 0 100 100", class="svgico arrow-icon")
				//- 			use(xlink:href="#arrow-left")
				//- 	.helper-ui-text нажмите на кнопку




		

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://use.fontawesome.com/856283dff2.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/jquery.mCustomScrollbar.concat.min.js")
		script(src="js/app.js")