doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Texx
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
		link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.glogal-wrapper
			include modules/header.jade
			.assets-preload
				include ../img/assets.svg
			.overflow-wrapper
				.main-content.inner.wider
					a(href="#").scroll-up.scroll-control
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					a(href="#").scroll-down.scroll-control
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					.navigation-bar
						.section-nav
							.side-title Новости
							ul
								li
									a(href="/about.html") Предыдущая
								li
									a(href="/about_adv.html") Следующая
						.page-nav
							a.back-link(href="#")
								i.fa.fa-times(aria-hidden="true")
								span Назад
					.scrolled-content
						section.article-wrapper
							.fullhalf-block
								.time 04.07.2016
								h1 Встречайте новый мобильный интерфейс Wialon!
								.dark-img
									img(src="../img/about.jpg", alt="")
									.overlay
								p Мы обеспечиваем информацией, необходимой для эффективного управления автопарками в любой точке России и ближнего зарубежья. Мы помогаем экономить время и деньги! Содействуем процветанию и прогрессу Вашего бизнеса, позволяя добиться наиболее оптимального использования машин, механизмов и потребляемого ими топлива. 
								p Мы выявляем и тестируем все новые продукты на рынке, вместе с нашими партнёрами повышаем технологичность систем ГЛОНАСС/GPS мониторинга, чтобы предложить нашим заказчикам только надежные и современные решения.
								p Мы стремимся быть лидерами в создании систем контроля транспорта и в будущем. Будущее создают люди, а не машины. Основа доверия клиентов компании - наша команда.
							


						section
							.end-block
								h2 Начните свой проект с нами уже сегодня!
				.feedback
					.name Обратная связь
					a(href="#bottom_modal").link.modal-handler
						svg(viewBox="0 0 100 100", class="svgico arrow-icon")
							use(xlink:href="#arrow-left")
					.helper-ui-text нажмите на кнопку
				include modules/bottom_modal.jade




		

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://use.fontawesome.com/856283dff2.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/jquery.mCustomScrollbar.concat.min.js")
		script(src="js/app.js")