.modal-container#bottom_modal
	.modal-content
		a(href="#").close-modal
			img(src="../img/modal_close.svg", alt="")
		.row.col-container
			.col-lg-3.col-md-3.col-container
				.slide-sidebar
					h2 Обратная связь
					.require-text * — поля обязательные для заполнения
					a(href="#").btn.default Отправить
			.col-lg-9.col-md-9.col-container
				.slide-content.flex-column
					p.area
					form
						.form-group
							input(type="text", name="", placeholder="Отдел")
						.form-group
							input(type="text", name="", placeholder="Наименование организации")
						.form-group
							input.required(type="text", name="", placeholder="Контактное лицо *")
						.form-group
							input.required(type="text", name="", placeholder="Телефон *")
						.form-group
							input(type="text", name="", placeholder="Электронная почта")
