header
	.container-fluid
		.row
			.col-lg-1.col-md-1.col-sm-12.col-xs-12.logo.vcenter
				a(href="")
					img(src="img/logo.svg", alt="")
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#toggled-menu", aria-expanded="false")
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.col-lg-11.col-md-11.col-sm-12.col-xs-12.vcenter
				.collapse.navbar-collapse#toggled-menu
					.row
						.col-lg-8.col-md-7.col-sm-12.col-xs-12.vcenter.menu.resize-list-block
							nav.navbar.navbar-default
								ul.nav.navbar-nav
									li.more
										a(href="#")
											span
									li.nav-item
										a(href="#") О компании
									li.nav-item
										a(href="#") Мониторинг
									li.nav-item
										a(href="#") Оборудование
									li.nav-item
										a(href="#") Стоимость
							//- a(href="").burger
							//- 	span
						.col-lg-2.col-md-3.col-sm-12.col-xs-12.vcenter.phones
							a.phone(href="tel:8 (495) 223–10–80") 8 (495) 223–10–80
						.col-lg-2.col-md-2.col-sm-12.col-xs-12.vcenter.user.search
							a(href="#search_modal").modal-handler
								i.fa.fa-search(aria-hidden="true")
							a(href="#lk_modal").modal-handler
								img(src="img/lk.svg", alt="")
								img(src="img/lk-black.svg", alt="")
