header
	.container-fluid
		.row
			.col-lg-1.col-md-1.col-sm-2.col-xs-4.logo.vcenter
				a(href="")
					img(src="img/logo.svg", alt="")
			.col-lg-8.col-md-6.col-sm-10.col-xs-8.vcenter.menu.resize-list-block
				nav.navbar.navbar-default
					.collapse.navbar-collapse
						ul.nav.navbar-nav
							li.more
								a(href="#")
									span
							li.nav-item
								a(href="#") О компании
							li.nav-item
								a(href="#") Мониторинг
							li.nav-item
								a(href="#") Оборудование
							li.nav-item
								a(href="#") Стоимость
				a(href="").burger
					span
			.col-lg-2.col-md-3.vcenter.phones
				.resize-list-block
					a.phone(href="tel:8 (495) 223–10–80") 8 (495) 223–10–80
			.col-lg-1.col-md-2.vcenter.user.search
				a(href="#search_modal").modal-handler
					i.fa.fa-search(aria-hidden="true")
				a(href="#lk_modal").modal-handler
					img(src="img/lk.svg", alt="")
					img(src="img/lk-black.svg", alt="")
