.left-menu
	.icon
		img(src="img/wave.svg", alt="")
	.link-block
		ul
			li
				a(href="#")
					//- include ../../img/ic_1.svg
					img(src="img/ic_1.svg", alt="")

			li
				a(href="")
					//- include ../../img/ic_2.svg
					img(src="img/ic_2.svg", alt="")
			li
				a(href="#callback_modal").modal-handler
					//- include ../../img/ic_3.svg
					img(src="img/ic_3.svg", alt="")




