.modal-container#search_modal
	.modal-content
		a(href="#").close-modal
			img(src="../img/modal_close.svg", alt="")
		form.search-form
			h2 Поиск
			.form-group
				textarea(name="")
			input.btn.default(type="submit", value="Найти")
